Create a ranking of students based on score (highest first).

SELECT name, score,
       DENSE_RANK() OVER (ORDER BY score DESC) as score_rank
FROM student
ORDER BY score DESC;

2.Show each student's score and the previous student’s score (based on score order).

SELECT name, score,
       LAG(score) OVER (ORDER BY score DESC) as prev_score
FROM student
ORDER BY score DESC;

3.Convert all student names to uppercase and extract the month name from join_date

SELECT UPPER(name) as name_upper,
       MONTHNAME(join_date) as join_month
FROM student;

4.Show each student's name and the next student’s attendance (ordered by attendance)

SELECT name, attendance,
       LEAD(attendance) OVER (ORDER BY attendance) as next_attendance
FROM student
ORDER BY attendance;

5. Assign students into 4 performance groups using NTILE().

SELECT name, score,
       NTILE(4) OVER (ORDER BY score DESC) as perf_group
FROM student
ORDER BY score DESC;

6.For each course, assign a row number based on attendance (highest first).

SELECT name, course, attendance,
       ROW_NUMBER() OVER (PARTITION BY course ORDER BY attendance DESC) as attn_rank
FROM student;

7.Calculate the number of days each student has been enrolled (from join_date to today).

SELECT name, join_date,
       DATEDIFF('2025-01-01', join_date) as days_enrolled
FROM student
ORDER BY days_enrolled DESC;

8.ormat join_date as “Month Year” (e.g., “June 2023”).

SELECT name,
       DATE_FORMAT(join_date, '%M %Y') as formatted_date
FROM student;

9.Replace the city ‘Mumbai’ with ‘MUM’ for display purposes.

    SELECT
    CASE
    WHEN city = 'Mumbai' THEN 'MUM'
    ELSE city
    END as display_city,
    name
    FROM student;

10.For each course, find the highest score using FIRST_VALUE().

SELECT name, course, score,
       FIRST_VALUE(score) OVER (
           PARTITION BY course
           ORDER BY score DESC
       ) as highest_course_score
FROM student;